
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=vuzetty
Exec="%JAVAWS%" %EXT_ARGS% %OPEN_ARG% ""%U"" http://vuzetty.alepar.ru/jnlp/vuzetty.jnlp
Icon=%USERHOME%/.local/share/icons/vuze.png
Comment=Stream torrents right to your video player
Categories=Network;
Terminal=false
StartupNotify=true
StartupWMClass=ru-alepar-vuzetty_client
MimeType=x-scheme-handler/magnet;application/x-bittorrent;
