
/out
/target
/integration-testing/target
/vuzetty-client-android/gen
/vuzetty-client-android/out
/vuzetty-client-android/target
/vuzetty-client-common/target
/vuzetty-client-desktop/target
/vuzetty-common/target
/vuzetty-server/target
/.idea/*
!/.idea/runConfigurations
*.log
*.iml
