<configuration debug="true">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/.vuzetty/vuzetty-client.log</file>

        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread{10}] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread{10}] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos" level="WARN"/>
    <logger name="org.fourthline" level="INFO"/>
    <logger name="ru.alepar.rpc" level="INFO"/>
    <logger name="ru.alepar.vuzetty" level="DEBUG"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>

</configuration>